:root {
    --White: hsl(0, 0%, 100%)
    --Light-gray: hsl(212, 45%, 89%)
    --Grayish-blue: hsl(220, 15%, 55%)
    --Dark-blue: hsl(218, 44%, 22%)

}
body {
    background-color: var(--Light-gray);
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
}
.qr-container {
    box-sizing: border-box;
    position: absolute;
    border-radius: 20px;
    width: 300px;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: var(--White);
}
.image-container img{
    width: 100%;
}
.info-container h3 {
    color: var(--Dark-blue);
}
.info-container p{
    font-size: 15px;
    color: var(--Greyish-blue);
}